
  </br>
  </br>
  </br>
  </br>

<div class="jumbotron">
<center>
  <h1>Welcome to Whatimeisit!</h1>
  <p>This is my First Ruby Application</p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </center>
</div>