<div class="jumbotron">
<center>
  <h1>Welcome to Magicbeans!</h1>
  <p>This is my First Ruby Application</p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  <div>
    <table>
    <tr>
    <td><a class="twitter-share-button"
  href="https://twitter.com/share"
  data-text="Check out this cool event we are organizing at @MagicCyberjaya!"
  data-url="http://mymagic.my"
  data-hashtags="pfshackathon, magicheadquater, entrepreneurs">
Tweet
</a></div></td>
    <td><div class="fb-share-button" data-href="http://mymagic.my" data-layout="button_count"></div></td> 
  </tr></table>
</center>
</div>
