<div class="header-container">
<h1 class="header">Editing program: <%= @program.name %></h1>
<%= link_to 'Back', url_for(:back), class: "btn btn-default" %>
<%= link_to 'Show', @program, class: "btn btn-info" %>
</div>
<%= render 'form' %>