<div class="header-container">
<h1 class="header">Editing user: <%= @user.name %></h1>
<%= link_to 'Back', url_for(:back), class: "btn btn-default" %>
<%= link_to 'Show', @user, class: "btn btn-info" %>
</div>
<%= render 'form' %>