<div class="jumbotron fix-margin">
  <h1>Magicbeans!</h1>
  <p class="lead">A process management tool for folks in magic to create, manage and share.</p>
  <p><a class="btn btn-lg btn-success" href="#">Get Started! <span class="glyphicon glyphicon-chevron-down"></span></a></p>
</div>

<div class="body">
  <div class="col-lg-6">
    <h1>Getting Started</h1>
    <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

    <h4>Sass</h4>
    <p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>


    <h4>Bootstrap</h4>
    <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>

    <h4>Modernizr</h4>
    <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
  </div>
  <div class="col-lg-6">
    <h1>Settings</h1>
    <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

    <h4>Sass</h4>
    <p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>


    <h4>Bootstrap</h4>
    <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>

    <h4>Modernizr</h4>
    <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
  </div>
</div>