/* Alert Flash Popup Push Down
-------------------------------------------------- */
.alert {
    margin: 20px 0;
}

/* Author Meta
-------------------------------------------------- */
.author-meta > h4, .author-meta > a
{
    margin: 0 !important;
    text-align: center;
}

.author-meta
{
    width: 300px;
}

@media (min-width: 625px)
{
    .author-meta
    {
        width: 466px;

    }

    .author-meta > h4, .author-meta > a
    {
        display:inline-block;
        margin-right: 20px !important;
        text-align: center;
    }
}

span.beautify input[type="checkbox"],
span.beautify input[type="radio"] {
    display: none;
}
