<h1>Editing activity</h1>

<%= render 'form' %>

<section class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <%= link_to 'Show', @activity, class: "btn btn-sm btn-info" %>
      <%= link_to 'Back', url_for(:back), class: "btn btn-sm btn-default" %>
    </div>
  </div>
</section>
