<div class="header-container">
<h1 class="header">Editing activity: <%= @activity.name %></h1>
  <%= link_to 'Back', url_for(:back), class: "btn btn-default" %>
  <%= link_to 'Show', @activity, class: "btn btn-info" %>
</div>

<%= render 'form' %>
