<p id="notice"><%= notice %></p>

<section class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <%= link_to 'Edit', edit_activity_path(@activity), class: "btn btn-sm btn-warning" %>
      <%= link_to 'Back', url_for(:back), class: "btn btn-sm btn-default" %>
    </div>
  </div>
</section>