<div class="push-footer"></div>

<div class="footer">
  <div class="container">   
  <p><a class="twitter-share-button"
    href="https://twitter.com/share"
    data-text="Check out this cool event we are organizing at @MagicCyberjaya!"
    data-url="http://mymagic.my"
    data-hashtags="pfshackathon, magicheadquater, entrepreneurs">
  Tweet
  </a></p>
  </div>
</div>